const API_KEY = "";
const TASKS_URL = "https://yougile.com/api-v2/task-list";

const MY_COLUMN_ID = "";

const PRIORITY_STICKER_ID = "";
const IMPORTANT_STATES = "";

const REFRESH_INTERVAL = 30000;
const DESCRIPTION_MAX_LENGTH = 150;